@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
:root {
    background: white;
    animation: 4s infinite rotate;
}

@property --rotate {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

@property --opacity {
    syntax: '<number>';
    initial-value: 0.5;
    inherits: true;
}

@property --amount {
    syntax: '<number>';
    initial-value: 0px;
    inherits: true;
}

@property --percentage {
    syntax: '<number>';
    initial-value: 0%;
    inherits: true;
}

@property --number {
    syntax: '<number>';
    initial-value: 0;
    inherits: true;
}

div[role='presentation'] {
    width: 100%;
    max-height: 40vh;
    min-height: 40vh;
    &:nth-of-type(2) {
        background-image: url('https://github.com/sindresorhus/sindresorhus/raw/main/flames.gif');
        background-size: 100% 100%;
    }
    &:nth-of-type(3) {
        background-image: url('https://github.com/sindresorhus/sindresorhus/raw/main/badge5.gif');
        background-size: 100% 100%;
    }
    &:nth-of-type(4) {
        background-image: url('https://github.com/sindresorhus/sindresorhus/raw/main/badge1.gif');
        background-size: 100% 100%;
    }
    &:nth-of-type(5) {
        background-image: url('https://github.com/sindresorhus/sindresorhus/raw/main/badge2.gif');
        background-size: 100% 100%;
    }
    &:nth-of-type(6) {
      background-image: url('http://toastytech.com/evil/ieburnbtn.gif');
      background-size: 100% 100%;
    }
    &:last-of-type {
      background-image: url('http://toastytech.com/evil/burnieani.gif');
      background-size: 100% 100%;
    }
}

body * {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    /* &::target-text { */
    background-image: linear-gradient(
        calc(-1 * var(--rotate)),
        rgba(255, 0, 0, var(--opacity)),
        rgba(255, 165, 0, var(--opacity)),
        rgba(255, 255, 0, var(--opacity)),
        rgba(0, 128, 0, var(--opacity)),
        rgba(0, 0, 255, var(--opacity)),
        rgba(128, 0, 128, var(--opacity))
    );
    font-weight: bolder;
    /* font-size: 1.1em; */
    /* } */
}

*::selection {
    background: maroon;
    color: pink;
}

a:is(:link, :visited) {
    animation: 0.1s epilepsy_test infinite;
    &::before {
        content: '👉';
        font-size: 2em;
    }
    &::after {
        content: '👈';
        font-size: 2em;
    }
    &:hover {
        color: transparent !important;
        animation: none !important;
        background: url('https://github.com/sindresorhus/sindresorhus/raw/main/hot.gif')
            no-repeat;
        background-position: 50% 50%;
    }
}

*::first-letter {
    font-family: 'Pinyon Script';
}

*::first-line {
    font-size: 1.5em;
}

body *:is(:empty, :only-child:not(div > * > *)) {
    background: url('https://github.com/sindresorhus/sindresorhus/raw/main/hot.gif')
        no-repeat;
    background-position: 50% 50%;
    background-size: 75%;
}

body {
    animation: 1s ease infinite alternate pulsate;
    background: url('https://www.ikea.com/global/assets/logos/brand/ikea.svg')
        no-repeat;
    background-size: var(--percentage) var(--percentage);
    background-position: 50% 50%;
    & .page-wrapper {
        /* transform:rotate3d(0, 1, 0, var(--rotate)); */
        background: linear-gradient(
            var(--rotate),
            rgba(255, 0, 0, var(--opacity)),
            rgba(255, 165, 0, var(--opacity)),
            rgba(255, 255, 0, var(--opacity)),
            rgba(0, 128, 0, var(--opacity)),
            rgba(0, 0, 255, var(--opacity)),
            rgba(128, 0, 128, var(--opacity))
        );
        /* & * { */
        /* font-weight: var(--amount); */
        /* } */
        /* margin: var(--amount); */
        /* & * { */
        /* margin: var(--amount); */
        /* filter: blur(var(--amount)) hue-rotate(var(--rotate)) invert(var(--percentage)); */
        /* } */
        /* transform: rotate3d(1, 5, 1, 45deg); */
        & > * {
            background-position: var(--percentage) var(--percentage);
            background: url('https://www.ikea.com/global/assets/logos/brand/ikea.svg')
                no-repeat var(--percentage) var(--percentage);
        }
        :is(& > :not(aside) > :is(section, div, header, p), & li) {
            /* transform: translateZ(-100px); */
            &:not(li) {
                padding: 10em 0em;
            }
            &:is(li) {
                padding: 8em 0em;
            }
            &:nth-of-type(even) {
                transform: rotate3d(1, 5, 1, 45deg);
            }
            &:nth-of-type(odd) {
                transform: rotate3d(1, 5, 1, 315deg);
            }
        }
        /* & * {
            /* background-size: var(--percentage) var(--percentage); */
        /* font-weight: bolder;
            font-size: 1em;
            text-decoration: var(--amount) underline blue; */
        /* &:hover {
        background: url('https://www.ikea.com/global/assets/logos/brand/ikea.svg');
        background-repeat: no-repeat;
        background-position: var(--percentage) var(--percentage);
      } */
        /* } */
    }
}

@keyframes epilepsy_test {
    from {
        /* background: white; */
        color: black;
    }
    to {
        /* background: black; */
        color: white;
    }
}

@keyframes rotate {
    0% {
        --rotate: 0deg;
    }
    10% {
        --rotate: 36deg;
    }
    20% {
        --rotate: 72deg;
    }
    30% {
        --rotate: 108deg;
    }
    40% {
        --rotate: 144deg;
    }
    50% {
        --rotate: 180deg;
    }
    60% {
        --rotate: 216deg;
    }
    70% {
        --rotate: 252deg;
    }
    80% {
        --rotate: 288deg;
    }
    90% {
        --rotate: 324deg;
    }
    100% {
        --rotate: 360deg;
    }
}

@keyframes pulsate {
    0% {
        --percentage: 0%;
        --amount: 0px;
        --number: 0;
    }
    10% {
        --percentage: 10%;
        --amount: 1px;
        --number: 1;
    }
    20% {
        --percentage: 20%;
        --amount: 2px;
        --number: 2;
    }
    30% {
        --percentage: 30%;
        --amount: 3px;
        --number: 3;
    }
    40% {
        --percentage: 40%;
        --amount: 4px;
        --number: 4;
    }
    50% {
        --percentage: 50%;
        --amount: 5px;
        --number: 5;
    }
    60% {
        --percentage: 60%;
        --amount: 6px;
        --number: 6;
    }
    70% {
        --percentage: 70%;
        --amount: 7px;
        --number: 7;
    }
    80% {
        --percentage: 80%;
        --amount: 8px;
        --number: 8;
    }
    90% {
        --percentage: 90%;
        --amount: 9px;
        --number: 9;
    }
    100% {
        --percentage: 100%;
        --amount: 10px;
        --number: 10;
    }
}
